      /* common css 가져오기 */
      @import url('./common.css');


  
  
  
      /* ============================ 왼쪽 사이드바 ============================ */
  
      
  
      body {
        font-weight: 100;
        font-size: 28px;
        background: #F8F6E3;
        font-family: "Orbit", sans-serif; /* 폰트: orbit */
        font-weight: 400;
        font-style: normal;
      }
  
      aside .left-snb {
        width: 20vw;
        background: #7AA2E3;
        color: #666;
        
        padding: 30px 30px;
        height: 100vh; /* 상하방향으로 화면 가득히 */
  
        position: fixed;
        top: 0;
  
        /* transition: 0.8s; */
      }
      aside .left-snb ul>li {
        margin-top: 15px;
        color: #000;
        line-height: 160%;
        font-size: 28px;
      }
  
      aside .left-snb ul li a:hover {
        color: #97E7E1;
        font-weight: 600;
      }
      
      aside .left-snb ul li.active { /* 현재 페이지가 뭐냐에 따라 active class 부여*/
        font-weight: 600;
      }
  
      aside .left-snb ul li>ul {
        color: #000;
        line-height: 160%;
        font-size: 22px;
      }
  
      aside .left-snb ul li>ul>li::before {
        content: '\f061'; 
        color: #000;
        font-family:"Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
        font-weight:600; /*폰트어썸 굵기 Solid Style(fas) 600필수*/
        margin-right: 15px;
      }
  
      
  
  
  
  
  
  
  
  
  
  
  
  
      /* ========================== 오른쪽 사이드바 ============================== */
  
      aside .right-snb {
        width: 20vw;
        background: #7AA2E3;
        float: right;
        height: 300vh;
        box-sizing: border-box;
  
  
  
      }
  
      aside .right-snb .point {
        margin: 20px 20px;
      }
  
      aside .right-snb .point p::before {
        content: '\f51e'; 
        font-family:"Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
        font-weight:600; /*폰트어썸 굵기 Solid Style(fas) 600필수*/
        margin-right: 15px;
      }
  
  
  
  
  
  
  
      aside .right-snb .weather {
        background: #F8F6E3;
        width: 90%;
        height: 300px;
        margin: 30px 5%;
        border-radius: 10%;
      }
  
      aside .right-snb .friends {
        position: relative;
      }
  
      aside .right-snb .friends .friends { /* 친구 목록 */
        font-size: 26px;
        background: #F8F6E3;
        padding: 30px;
        margin: 0 5%;
        border-radius: 10%;
  
        position: relative;
      }
  
      aside .right-snb .friends .friends ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
      }
  
  
  
      aside .right-snb .friends .friends>ul>li {
        color: #797474;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
      }
  
      /* aside .right-snb .friends .friends>ul>li:hover {
        display: block;
      } */
  
      .profile-box { /* 프로필 사진 */
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 12px;
        margin-right: 20px;
      }
  
      
  
      .profile-box img {
        width: 100%;
      }
  
      aside .right-snb .friends .friends>ul>li a.friend {
        line-height: 26px;
        font-size: 16px;
      }
  
      aside .right-snb .friends #user-information { /* 친구 유저 정보 */
        width: 90%;
        height: 200px;
        background: #cce37a;
        border-radius: 20%;
        margin: auto 5%;
        position: absolute;
        top: 50%;
        right: 30%;
        display: none;
        z-index: 100;
        transition: transform 0.5s ease;
      }
  
      .animate {
        /* transform: translateY(30px);  */
        /* Apply moving transformation */
        transform: scale(1.1);
      }
  
      aside .right-snb .friends #user-information p {
        margin-top: 10%;
        margin-left: 10%;
      }
  
      aside .right-snb .friends #user-information p>span#x-btn::after { /* x자 아이콘 */
        content: '\58'; 
        font-family:"Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
        font-weight:600; /*폰트어썸 굵기 Solid Style(fas) 600필수*/
        margin-right: 15px;
        margin-left: 15px;
        float: right;
        cursor: pointer;
      }
  
      aside .right-snb .friends #user-information>ul {
        margin-top: 30%;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-end;
      }
  
  
      aside .right-snb .friends #user-information>ul>li#my-page::before {
        content: '\f015'; 
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
      }
  
      aside .right-snb .friends #user-information>ul>li#chatting::before {
        content: '\f075'; 
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
      }
  
      aside .right-snb .friends #user-information>ul>li#ban::before {
        content: '\f05e'; 
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
      }